@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import '../../../styles/Variables.scss';

.main {
    width: 100%;
    min-height: 500px;
    height: auto;
    padding: 150px 0;
    background: white;
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and ( max-width: 680px ) {
        padding: 0 ;
        min-height: unset;
        background-image: unset;
    }
}
        

.main video {
    border-radius: 5px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    width: 70%;
    @media screen and ( max-width: 680px ) {
        width: 100%;
        border-radius: 0;
    }
}