// TODO GET RID OF UNUSED

$header-height: 100px;

//breakpoints
$break-tablet: 768px;
$break-mobile: 576px;

// go to column and center
$container-havles-to-vertical: 1050px;
$container-halves-phone: 800px;

$short-vertical-phone: 800px;

$screen-min-height: 700px;

// rgba(2, 36, 74, 1)
$light-blue: #1882d4;
$red: #ff596f;
$tan: #cbbfa5;

// backgrounds
$bg-white: #FFFFFF;
$bg-dark: #4d2c2c;
$bg-light: #e1ddd2;
$bg-light-grey: #f1f1f1;
$bg-light-dark-grey: #E4E4E4;

// font colors
$font-white: #FFFFFF;
$font-dark: #293649;
$font-warm: #6c727e;
$font-grey: #6c727e;
$font-light: #aeb1b7;
$font-light-dark-grey: #E4E4E4;
$font-light-grey: #f1f1f1;
$font-dark-blue: #001433;

// font family
$font-family-description: 'Open Sans';

// page width
$max-width: 90vw;

// colors for v3
$electric-blue: #0064FF;
$dark-blue: #001433;
$white: #FFFFFF;
$off-white: #F1F1F1;
$grey: #E4E4E4;
$footer-bottom: #0D184F;
