@import '../../../styles/Variables.scss';

.backgroundColor {
  background-color: $bg-light-grey;
}

.main {
  width: 100%;
  
  @media screen and ( min-width: $container-halves-phone) {
    padding-top: 4vh;;
  }
  @media screen and ( max-width: $container-halves-phone) {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
}

.container {
  height: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding: 0 40px;
  box-sizing: border-box;
  @media screen and ( max-width: $container-halves-phone) {
    padding: 0 30px
  }
}

.description {
  font-size: 2.2vh;
  max-width: 500px;
  @media screen and ( max-width: $container-halves-phone) {
    font-size: 15px;
    line-height: 2rem !important;
    max-width: 90vw !important;
    width: auto !important;
    font-size: 14px;
  }
}

.descriptionContainer {
  margin-top: 10px;
  @media screen and ( max-width: $container-halves-phone) {
    width: 100%;
  }
}

.descriptionContainer .spanSmall {
  font-size: 15px;
  color: $font-warm;
  font-family: "Open Sans", sans-serif;
  line-height: 2rem;
  @media screen and ( max-width: $container-halves-phone) {
    font-size: 14px;
  }
}

.descriptionContainer .spanCaps {
  font-family: 'Playfair Display';
  font-size: 2.6rem;
  position: relative;
  color: $font-dark;
  @media screen and ( max-width: $container-halves-phone) {
    font-size: 2.2rem ;
  }
}

.desktop {
  padding-bottom: 10px;
  @media screen and ( max-width: $container-halves-phone ) {
    display: none;
  }
}

.mobile {
  @media screen and ( min-width: $container-halves-phone ) {
    display: none;
  }
}

.title {
  color: $dark-blue;
  @media screen and ( max-width: $container-halves-phone ) {
    font-size: 1.9rem;
  }
}

.infoTitleContainer {
  width: 100%;
  @media screen and ( min-width: $container-halves-phone ) {
    padding-bottom: 10px;
  }
}

.descriptionContainer {
  margin: 0;
}

.sourcesOpen {
  height: max-content;
}

.toggleAndGraph {
  display: flex;
  flex-direction: column;
  @media screen and ( max-width: $container-halves-phone ) {
    flex-direction: column-reverse;
  }
}
